# generate a target list: see var2df

# 'C[30..80] H[40..300] O[10] N[1] P[1]'
# 'C[10..40] H[20..100] O[2]'
https://www.lfd.uci.edu/~gohlke/molmass/
https://pypi.org/project/molmass/
https://pyteomics.readthedocs.io/en/latest/mass.html
https://github.com/mobiusklein/brainpy

https://stackoverflow.com/questions/53699012/performant-cartesian-product-cross-join-with-pandas

https://stackoverflow.com/questions/13269890/cartesian-product-in-pandas

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Interval.html

# https://stackoverflow.com/questions/21316628/make-a-pandas-multiindex-from-a-product-of-iterables
# https://stackoverflow.com/questions/44452751/pandas-dataframe-rangeindex
# pd.RangeIndex(start=30, stop=80, step=1)

np.arange(f,t) vs range , no range was faster by 10%
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.from_arrays.html#pandas.MultiIndex.from_arrays

In [1]:
import pandas as pd
import numpy as np
from collections import namedtuple

In [19]:
class MFQL_util():

    mass_of = {
        'C' : 12,
        'H' : 1.0078250321,
        'N' : 14.0030740052,
        'P' : 30.97376151,
        'O' : 15.9949146221,
        'S' : 31.97207069
        }
    
    def __init__(self,elements):
        self.elements = elements
        self._ranges = {}
        self._df = None

    def _makeRanges(self):
        for name, bounds in elements.items():
            self._ranges[name] = np.arange(bounds[0],bounds[1]+1)
    
    def _makeDF(self):
        index  = pd.MultiIndex.from_product(self._ranges.values(), names = self._ranges.keys())
        self._df = pd.DataFrame(index = index).reset_index()
    
    def _cal_M(self):
        self._df['m'] = 0
        for colName in self._df.columns.intersection(test.mass_of.keys()):
            self._df['m'] += self._df[colName] * self.mass_of[colName]
            
    def _cal_dbr(self):
        x = self._df.get('Cl',0) + self._df.get('Br', 0) + self._df.get('I',0) + self._df.get('F',0)
        self._df['dbr'] = self._df['C'] + 1 - self._df['H']/2 - x/2 + self._df['N']/2

In [20]:
test = MFQL_util(elements)
test._makeRanges()
test._makeDF()
test._cal_M()
test._cal_dbr()
test._df

         C    H   O  N  P            m    dbr
0       30   40  10  1  1   605.238983   11.5
1       30   41  10  1  1   606.246808   11.0
2       30   42  10  1  1   607.254633   10.5
3       30   43  10  1  1   608.262458   10.0
4       30   44  10  1  1   609.270283    9.5
...    ...  ...  .. .. ..          ...    ...
70726  300  296  10  1  1  4103.242191  153.5
70727  300  297  10  1  1  4104.250016  153.0
70728  300  298  10  1  1  4105.257841  152.5
70729  300  299  10  1  1  4106.265666  152.0
70730  300  300  10  1  1  4107.273491  151.5

[70731 rows x 7 columns]

In [5]:
df = test._df
df.columns.intersection(test.mass_of.keys())
# set(test.mass_of.keys())
df.columns

NameError: name 'test' is not defined

In [4]:

elements = {'C':(30,300),'H':(40,300),'O':(10,10),'N':(1,1),'P':(1,1) }

# calculate the mass ... efficiently

https://towardsdatascience.com/different-ways-to-iterate-over-rows-in-a-pandas-dataframe-performance-comparison-dc0d5dcef8fe
https://stackoverflow.com/questions/16476924/how-to-iterate-over-rows-in-a-dataframe-in-pandas
https://stackoverflow.com/questions/1422149/what-is-vectorization

note the 'at' operator

In [13]:
mass_of = {
'C' : 12,
'H' : 1.0078250321,
'N' : 14.0030740052,
'P' : 30.97376151,
'O' : 15.9949146221,
'S' : 31.97207069
}

df['m'] = 0
for colName in df:
    if colName == 'm': continue
    df['m'] += df[colName] * mass_of[colName]

# calcualte the dbr efficiently
https://en.wikipedia.org/wiki/Degree_of_unsaturation

In [24]:
#http://calistry.org/calculate/DBEcalculator
x = df.get('Cl',0) + df.get('Br', 0)+df.get('I',0)+df.get('F',0)
df['dbr'] = df.c + 1 - df.h/2 - x/2 + df.n/2
# df['dbr'] = 0.5 *(2 + 2*df.c - df.h  + df.n/2

# app;icable functions